.company {
  margin-bottom: 150px;

  &__wrapper {
    display: flex;
    gap: 0 30px;
  }

  &__block {
    padding: 30px;
    background-color: var(--blue-2);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px 0;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .company {
    margin-bottom: 100px;

    &__wrapper {
      flex-direction: column;
      gap: 20px 0;
    }

    &__block {
      border-radius: 10px;
      gap: 20px 0;
    }

    &__title {
      font-size: 20px;
    }
  }
}
