.company {
  margin-bottom: 145px;

  &__wrapper {
    display: flex;
    gap: 0 30px;
  }

  &__block {
    padding: 30px;
    background-color: var(--blue-2);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px 0;
  }

  &__title {
    max-width: 410px;
    margin-bottom: 15px;

    & span {
      display: block;
    }
  }

  &__img {
    width: 100%;
    height: 292px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 767px) {
  .company {
    margin-bottom: 100px;

    &__wrapper {
      flex-direction: column;
      gap: 20px 0;
    }

    &__block {
      min-height: 340px;
      border-radius: 10px;
      gap: 20px 0;

      &--right {
        & .text span {
          display: block;
        }
      }
    }

    &__title {
      max-width: 278px;
      font-size: 20px;

      & span {
        display: initial;
      }
    }

    &__img {
      height: 159px;
    }
  }
}
