.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  background-color: var(--white);

  &--footer {
    max-width: 1580px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
