.header {
  padding-top: 40px;
  padding-bottom: 30px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
