.text,
.text-1,
.text-2 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  opacity: 1;
}

.text {
  font-size: 16px;

  &--white {
    color: var(--white);
  }

  &--test1 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black);
    margin-bottom: 20px;
  }

  &--test2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black);
    margin-bottom: 20px;
  }
}

.text-1 {
  font-size: 20px;

  &--white {
    color: var(--white);
  }
}

.text-2 {
  font-size: 18px;
}

@media (max-width: 767px) {
  .text-1 {
    font-size: 18px;
  }
}
