*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

:root {
  --white: #fff;
  --gray: #aeaeae;
  --black: #303139;
  --sky: #e8edfd;
  --blue: #174be6;
  --blue-2: #0e35b9;
  --dark-blue: #081f6d;
  --dark-blue-2: #020b29;
  --shadow: 0px 0px 20px rgba(51, 51, 51, 0.1);
}

html {
  scroll-behavior: smooth;
}

html.block {
  overflow: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.hidden {
  display: none !important;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff"), url("../fonts/Rubik-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

.title {
  font-family: "Rubik", serif;
  font-style: normal;
  line-height: 120%;
  color: var(--black);
  width: 100%;
}

.title--blue {
  color: var(--blue);
}

.title--white {
  color: var(--white);
}

.title--upper {
  text-transform: uppercase;
}

.title-1 {
  font-weight: 600;
  font-size: 50px;
}

.title-2 {
  font-weight: 600;
  font-size: 48px;
}

.title-3 {
  font-weight: 600;
  font-size: 40px;
}

.title-4 {
  font-weight: 500;
  font-size: 32px;
}

.title-5 {
  font-weight: 500;
  font-size: 24px;
}

.title-6 {
  font-weight: 500;
  font-size: 20px;
}

.text,
.text-1,
.text-2 {
  font-family: "Rubik", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--black);
}

.text {
  font-size: 16px;
}

.text--white {
  color: var(--white);
}

.text-1 {
  font-size: 20px;
}

.text-1--white {
  color: var(--white);
}

.text-2 {
  font-size: 18px;
}

.btn {
  font-family: "Rubik", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 260px;
  height: 60px;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--blue);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn:hover {
  color: var(--white);
  background-color: var(--blue-2);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn:active {
  background-color: var(--dark-blue);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn--login {
  font-size: 14px;
  width: 120px;
  height: 50px;
  background-color: var(--dark-blue);
}

.btn--white {
  color: var(--dark-blue);
  background-color: var(--white);
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  background-color: var(--white);
}

.container--footer {
  max-width: 1580px;
}

.logo {
  height: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.img {
  border-radius: 6px;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  overflow: hidden;
  -webkit-transition: 0.7s cubic-bezier(0.2, 0.3, 0.4, 0.8);
  -o-transition: 0.7s cubic-bezier(0.2, 0.3, 0.4, 0.8);
  transition: 0.7s cubic-bezier(0.2, 0.3, 0.4, 0.8);
}

.headline__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 15px;
}

.headline__logo {
  width: 50px;
  height: 50px;
}

.headline__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 40px;
  margin-bottom: 70px;
}

.headline__text {
  max-width: 445px;
  color: var(--gray);
}

.headline__text--opacity {
  color: var(--white);
  opacity: 0.7;
}

.header {
  padding-top: 40px;
  padding-bottom: 30px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 30px;
}

.main {
  overflow: hidden;
}

.start {
  padding-top: 20px;
  padding-bottom: 210px;
}

.start__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 80px;
}

.start__info {
  margin-top: 135px;
  margin-bottom: 70px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.start__title {
  max-width: 520px;
  width: 100%;
  margin-bottom: 20px;
}

.start__text {
  max-width: 440px;
  width: 100%;
  margin-bottom: 40px;
}

.start__box {
  position: relative;
  display: block;
  width: 100%;
}

.start__img-1 {
  border-radius: 15px;
  max-width: 813px;
  position: absolute;
  top: 0;
  left: 0;
}

.start__img-2 {
  max-width: 600px;
  position: absolute;
  top: 83%;
  left: -110px;
}

.stripe {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: var(--sky);
}

.stripe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 80px;
  -webkit-animation: movingLeft 20s linear infinite;
  animation: movingLeft 20s linear infinite;
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}

.stripe__list:nth-of-type(2) {
  -webkit-animation: movingLeft2 20s linear infinite;
  animation: movingLeft2 20s linear infinite;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}

.stripe__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.stripe__item--logo {
  width: 140px;
}

.stripe__item--logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.stripe__item:last-of-type {
  margin-right: 80px;
}

.stripe__img {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background-color: var(--white);
  padding: 10px 12px;
}

.stripe__title {
  white-space: nowrap;
}

.stripe--blue {
  margin-top: 25px;
  background-color: var(--blue);
}

.stripe--blue .stripe__title {
  color: var(--white);
}

.stripe--blue .stripe__list {
  -webkit-animation: movingRight 20s linear infinite;
  animation: movingRight 20s linear infinite;
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}

.stripe--blue .stripe__list:nth-of-type(2) {
  -webkit-animation: movingRight2 20s linear infinite;
  animation: movingRight2 20s linear infinite;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}

@-webkit-keyframes movingLeft {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes movingLeft {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes movingLeft2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

@keyframes movingLeft2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

@-webkit-keyframes movingRight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes movingRight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes movingRight2 {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes movingRight2 {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.fix {
  padding-top: 150px;
  padding-bottom: 220px;
}

.fix__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fix__block {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: var(--white);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 20px;
}

.fix__subtitle {
  max-width: 162px;
  color: var(--gray);
}

.fix__thumb {
  width: 44px;
  height: 44px;
}

.fix__title {
  margin-bottom: 20px;
  text-align: center;
}

.fix__text {
  text-align: center;
  max-width: 575px;
  margin-bottom: 70px;
}

.fix__box {
  position: relative;
  max-width: 886px;
}

.fix__img-1 {
  max-width: 100%;
  border-radius: 15px;
}

.fix__img-2 {
  max-width: 24%;
  position: absolute;
  top: -9%;
  right: -9%;
  z-index: 10;
}

.fix__img-3 {
  max-width: 47%;
  position: absolute;
  bottom: 8%;
  left: -18%;
  z-index: 10;
}

.fix__img-4 {
  max-width: 43%;
  position: absolute;
  bottom: -13%;
  right: -16%;
  z-index: 10;
}

.company {
  margin-bottom: 150px;
}

.company__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
}

.company__block {
  padding: 30px;
  background-color: var(--blue-2);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 25px 0;
}

.company__title {
  max-width: 410px;
  margin-bottom: 15px;
}

.company__img {
  max-width: 100%;
}

.client {
  margin-bottom: 250px;
}

.client__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 40px;
  margin-bottom: 60px;
}

.client__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 20px;
}

.client__number {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 999px;
  background-color: var(--sky);
  color: var(--blue);
}

.client__box {
  position: relative;
}

.client__img-1 {
  border-radius: 15px;
  max-width: 93%;
  width: 100%;
}

.client__img-2 {
  max-width: 54%;
  position: absolute;
  bottom: -28%;
  right: 0;
}

.project {
  margin-bottom: 150px;
}

.project__wrapper {
  background-color: var(--dark-blue);
  border-radius: 15px;
  padding: 100px;
}

.project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 60px;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 60px 0;
  max-width: 310px;
}

.project__number {
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
  margin-bottom: 15px;
}

.project__text {
  color: var(--white);
}

.project__img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  margin-right: -100px;
}

.project__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top left;
  object-position: top left;
}

.task {
  margin-bottom: 150px;
}

.task__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 30px;
}

.task__item {
  padding: 50px 50px 0 50px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px 0;
}

.task__item:nth-of-type(1) {
  background-color: var(--blue);
}

.task__item:nth-of-type(2) {
  background-color: var(--blue-2);
}

.task__item:nth-of-type(3) {
  background-color: var(--dark-blue);
}

.task__img {
  height: 410px;
  border-top-left-radius: 6px;
  overflow: hidden;
  margin-right: -50px;
}

.task__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top left;
  object-position: top left;
  display: block;
}

.finance {
  margin-bottom: 150px;
}

.finance__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px 0;
}

.finance__item {
  position: relative;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 75px;
}

.finance__number {
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 20px;
}

.finance__text {
  max-width: 400px;
}

.finance__img {
  height: 504px;
}

.finance__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top left;
  object-position: top left;
  display: block;
}

.finance__item:nth-of-type(2) img {
  -o-object-position: top right;
  object-position: top right;
}

.begin {
  margin-bottom: 70px;
}

.begin__title {
  margin-bottom: 15px;
}

.ticker {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}

.ticker__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 30px;
  -webkit-animation: movingLeft 20s linear infinite;
  animation: movingLeft 20s linear infinite;
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}

.ticker__list:nth-of-type(2) {
  -webkit-animation: movingLeft2 20s linear infinite;
  animation: movingLeft2 20s linear infinite;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}

.ticker__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 25px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 380px;
  padding: 36px 30px;
  border-radius: 15px;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.ticker__item:last-of-type {
  margin-right: 30px;
}

.ticker--first {
  margin-bottom: 30px;
}

.ticker--first .ticker__list {
  -webkit-animation: movingRight 20s linear infinite;
  animation: movingRight 20s linear infinite;
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}

.ticker--first .ticker__list:nth-of-type(2) {
  -webkit-animation: movingRight2 20s linear infinite;
  animation: movingRight2 20s linear infinite;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}

@keyframes movingLeft {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes movingLeft2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

@keyframes movingRight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes movingRight2 {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.footer {
  margin-bottom: 150px;
}

.footer__wrapper {
  padding: 100px;
  background-color: var(--dark-blue-2);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__title {
  text-align: center;
  margin-bottom: 20px;
}

.footer__box {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 35px;
}

.footer__logo {
  max-height: 74px;
}

.footer__heart {
  max-height: 60px;
}

.footer__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 30px;
}

.footer__rights {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__text {
  color: var(--gray);
}

.footer__link {
  color: var(--dark-blue);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 1px solid var(--gray);
}

.footer__link:hover {
  color: var(--blue-2);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (max-width: 1279px) {
  .fix__img-1 {
    border-radius: 10px;
  }

  .fix__img-2 {
    top: -12%;
    right: 0;
  }

  .fix__img-3 {
    bottom: -13%;
    left: 0;
  }

  .fix__img-4 {
    bottom: -32%;
    right: 0;
  }
}

@media (max-width: 1023px) {
  .headline__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 25px 0;
    margin-bottom: 50px;
  }

  .start__container {
    gap: 0 30px;
  }

  .start__info {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .start__img-1 {
    max-width: 700px;
  }

  .client__list {
    grid-template-columns: 1fr;
    gap: 30px 0;
    margin-bottom: 40px;
  }

  .client__img-1 {
    max-width: initial;
    width: initial;
    max-height: 265px;
  }

  .client__img-2 {
    max-width: initial;
    max-height: 88px;
    bottom: -17%;
  }

  .project {
    margin-bottom: 100px;
  }

  .project__wrapper {
    border-radius: 10px;
    padding: 50px 30px;
  }

  .project__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px 0;
  }

  .project__list {
    max-width: 100%;
    gap: 30px 0;
  }

  .project__img {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 337px;
    margin-right: -30px;
  }

  .project__img img {
    display: block;
  }

  .task__list {
    grid-template-columns: 1fr;
    gap: 25px 0;
  }
}

@media (max-width: 767px) {
  .title-1 {
    font-size: 48px;
  }

  .title-2 {
    font-size: 40px;
  }

  .title-3 {
    font-size: 32px;
  }

  .title-4 {
    font-size: 24px;
  }

  .text-1 {
    font-size: 18px;
  }

  .btn {
    max-width: 345px;
    width: 100%;
  }

  .btn--login {
    width: 120px;
  }

  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .img {
    border-radius: 3px;
  }

  .headline__box {
    margin-bottom: 20px;
  }

  .headline__logo {
    width: 44px;
    height: 44px;
  }

  .header {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .start {
    padding-bottom: 140px;
  }

  .start__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 35px 0;
  }

  .start__info {
    margin: 0;
  }

  .start__title {
    margin-bottom: 25px;
  }

  .start__img-1 {
    border-radius: 10px;
    position: relative;
    max-height: 310px;
    left: 14%;
  }

  .start__img-2 {
    max-height: 97px;
    top: initial;
    bottom: -5%;
    left: 4%;
  }

  .stripe__list {
    gap: 0 50px;
  }

  .stripe__item {
    gap: 0 15px;
  }

  .stripe__item--logo {
    height: 43px;
  }

  .stripe__img {
    width: 50px;
    height: 50px;
    padding: 9px;
  }

  .stripe--blue {
    margin-top: 20px;
  }

  .fix {
    padding-top: 100px;
    padding-bottom: 180px;
  }

  .fix__text {
    margin-bottom: 75px;
  }

  .fix__img-1 {
    border-radius: 10px;
  }

  .fix__img-2 {
    max-width: 26%;
  }

  .fix__img-3 {
    max-width: 43%;
  }

  .fix__img-4 {
    max-width: 44%;
  }

  .company {
    margin-bottom: 100px;
  }

  .company__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px 0;
  }

  .company__block {
    border-radius: 10px;
    gap: 20px 0;
  }

  .company__title {
    font-size: 20px;
  }

  .client {
    margin-bottom: 150px;
  }

  .task {
    margin-bottom: 100px;
  }

  .task__item {
    padding: 30px 30px 0 30px;
  }

  .task__img {
    height: 360px;
    margin-right: -30px;
  }

  .finance {
    margin-bottom: 100px;
  }

  .finance__list {
    gap: 40px 0;
  }

  .finance__item {
    grid-template-columns: 1fr;
    gap: 30px 0;
  }

  .finance__number {
    margin-bottom: 15px;
  }

  .finance__text {
    max-width: 500px;
  }

  .finance__img {
    height: 302px;
  }

  .finance__item:nth-of-type(3) img {
    -o-object-position: 50% 17%;
    object-position: 50% 17%;
  }

  .begin {
    margin-bottom: 50px;
  }

  .ticker {
    margin-bottom: 100px;
  }

  .ticker--first {
    margin-bottom: 20px;
  }

  .ticker__list {
    gap: 0 20px;
  }

  .ticker__item {
    gap: 0 20px;
    width: 320px;
    padding: 30px;
  }

  .ticker__item:last-of-type {
    margin-right: 20px;
  }

  .footer {
    margin-bottom: 100px;
  }

  .footer__wrapper {
    padding: 50px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__title {
    margin-bottom: 25px;
  }

  .footer__box {
    max-height: 54px;
    margin-bottom: 40px;
    gap: 0 25px;
  }

  .footer__logo {
    max-height: 54px;
  }

  .footer__heart {
    max-height: 44px;
  }

  .footer__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px 0;
  }

  .footer__rights {
    margin-top: 25px;
  }
}